/.git/
/.vscode/
/node_modules/
/src/
/.idea/
.editorconfig
.eslintignore
.eslintrc.js
.eslintrc.json
.gitignore
.npmignore
.npmrc
.prettierrc
jestconfig.json
jest.config.js
jest.setup.js
tsconfig.json
rollup.config.js
note.md
*.log
